<!--
  Generated template for the AssetDetailsListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>资产明细</ion-title>
    <!--<ion-buttons end>
      <button ion-button icon-only (click)="add()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="正在刷新...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!isEmpty">
    <ion-searchbar (ionInput)="getItems($event)" placeholder="输入名称或编号模糊搜索"></ion-searchbar>
    <ion-list>
	    <!--<ion-item-sliding *ngFor="let item of list">-->
		      <ion-item *ngFor="let item of list" (click)="edit(item)">
            <p>资产编码：{{item.assetsCode}}</p><!---->
            <p>资产名称：{{item.assetsName}}</p><!---->
            <p>所属单位：{{item.departName}}</p><!---->
            <!--<p color="green">键码：{{item.keyCode}}</p>资产-->
            <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" color="grayslate" item-end></ion-icon>
		      </ion-item>
          <!--<ion-item-options side="right">
              <button ion-button color="primary" (click)="edit(item)">
                <ion-icon name="create"></ion-icon>
                编辑
              </button>
              <button ion-button color="danger" (click)="delete(item)">
                <ion-icon name="close"></ion-icon>
                删除
              </button>
            </ion-item-options>
		  </ion-item-sliding>-->
  	</ion-list>
  </div>
  <!--<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>-->
  <div *ngIf="isEmpty" text-center padding-top margin-top>
    <img [src]="emptyPath" width="50%" height="50%"  margin-top>
    <h3>目前还没有任何记录哦~</h3>
  </div>
</ion-content>
