<!--
  Generated template for the TransferAdjustAssetListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="正在刷新...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!isEmpty">
    <ion-list class="list-avatar-page">
      <ion-item *ngFor="let item of list;trackBy:item?.assetsCode" (click)="toDetail(item)">
        <p>资产编码：{{item.assetsCode}}</p>
        <p>资产名称：{{item.assetsName}}</p>
        <p>所属单位：{{item.departName}}</p>
        <!--<p>资产键码：{{item.keyCode}}</p>-->
        <p>是否分摊费用：{{item.feeFlagName}}</p>
        <p>单据编号：{{item.translateCode}}</p>
        <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" color="grayslate" item-end></ion-icon>
      </ion-item>
    </ion-list>
  </div>
  <!--<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>-->
  <div *ngIf="isEmpty" text-center padding-top margin-top>
    <img [src]="emptyPath" width="50%" height="50%"  margin-top>
    <h3>目前还没有任何记录哦~</h3>
  </div>
</ion-content>
